html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #1a237e;
  color: #ffffff;
  border-bottom: #e8491d 4px solid;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
}

header li {
  margin-left: 20px;
}

h1, h2, h3 {
  color: #1a237e;
}

.main {
  padding: 20px;
  background: #ffffff;
  flex: 1;
}

.section-title {
  border-bottom: 2px solid #e8491d;
  padding-bottom: 10px;
}

.section-content {
  margin-top: 20px;
}

ul {
  margin-top: 10px;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #1a237e; /* Bleu encore plus sombre */
  color: white;
  text-align: center;
  padding: 1rem;
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  border-top: #010000 4px solid;
  margin-top: auto;
}
